.calculator-container {
  display: grid;
  grid-template-rows: auto 1fr;
  border: 3px solid rgb(109, 113, 124);
  width: 100%;
  height: 100%;
  max-width: 1200px;
}

.calculator-container p {
  width: 100%;
  padding: 60px 5px;
  margin: 0;
  text-align: right;
  color: white;
  font-size: 5.5rem;
}

.display {
  position: relative;
  background-color: rgb(109, 113, 124);
  overflow-x: auto;
}

.display span {
  position: absolute;
  left: 5px;
  top: 5px;
  padding: 5px;
  color: white;
  font-size: 4.5rem;
  font-weight: 500;
}

.calculator-buttons {
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 100%;
  background-color: rgb(109, 113, 124);
}

.calculator-button {
  background-color: white;
  font-size: 4rem;
  font-weight: 600;
  transition: background-color 0.1s ease-in-out;
}

.calculator-button:hover {
  background-color: rgb(255 150 150); 
}

.sign-button {
  background-color: rgba(47, 71, 102, 0.8);
  color: rgb(255 150 150);
}

.sign-button:hover {
  background-color: rgb(21, 50, 88);
}

.zero-button {
  grid-column: span 2;
}

@media screen and (max-width: 600px) {
  .calculator-container {
    height: auto;
  }
  
  .calculator-container p {
    padding: 20px 5px;
    font-size: 4.5rem;
  }
  
  .calculator-container span {
    font-size: 3.5rem;
  }
}
