.calculator-container {
  border: 1px solid black;
}

.calculator-container p {
  width: 100%;
  padding: 30px 5px;
  text-align: right;
  background-color: rgb(159 165 180);
  color: white;
  font-size: 25px;
}

.display {
  position: relative;
}

.display span {
  position: absolute;
  left: 5px;
  top: 5px;
  padding: 5px;
  color: white;
  font-size: 18px;
}

.calculator-buttons {
  display: grid;
  gap: 1px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: rgb(159 165 180);
}

.calculator-button {
  padding: 20px 40px;
  background-color: white;
}

.sign-button {
  background-color: orange;
}

.zero-button {
  grid-column: span 2;
}
